.content-page-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 83px);
}

.right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .contact-info-container {
        height: 170px;
        display: grid;
        grid-template-rows: 1fr 1fr;

        .contact-info-wrapper {
            display: flex;
            align-items: center;
        }

        .carrot {
            color: $teal;
            font-size: 2em;
            margin-right: 6px;
            margin-bottom: 5px;
        }
    }
}
