.DraftEditor-root {
    border: 1px solid #f1f1f1;
    padding: 20px;
    border-radius: 3px;
    margin-top: 12px;
}

.rdw-image-modal {
    right: -215px;
}

.rdw-emoji-modal {
    left: -215px;
}

.rdw-embedded-modal {
    left: -215px;
}